--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3 (Debian 16.3-1.pgdg120+1)
-- Dumped by pg_dump version 16.3 (Debian 16.3-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: valideducationlevel; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.valideducationlevel AS ENUM (
    'LESS_THAN_HIGHSCHOOL',
    'HIGHSCHOOL_DIPLOMA',
    'ASSOCIATE_DEGREE',
    'BACHELOR_DEGREE',
    'MASTER_DEGREE',
    'DOCTORAL_DEGREE',
    'OTHER'
);


ALTER TYPE public.valideducationlevel OWNER TO postgres;

--
-- Name: validworkcontract; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.validworkcontract AS ENUM (
    'FULL_TIME',
    'PART_TIME',
    'CONTRACT',
    'INTERNSHIP',
    'OTHER'
);


ALTER TYPE public.validworkcontract OWNER TO postgres;

--
-- Name: validworkmodel; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.validworkmodel AS ENUM (
    'ON_SITE',
    'HYBRID',
    'REMOTE'
);


ALTER TYPE public.validworkmodel OWNER TO postgres;

--
-- Name: CAST (character varying AS public.valideducationlevel); Type: CAST; Schema: -; Owner: -
--

CREATE CAST (character varying AS public.valideducationlevel) WITH INOUT AS ASSIGNMENT;


--
-- Name: CAST (character varying AS public.validworkcontract); Type: CAST; Schema: -; Owner: -
--

CREATE CAST (character varying AS public.validworkcontract) WITH INOUT AS ASSIGNMENT;


--
-- Name: CAST (character varying AS public.validworkmodel); Type: CAST; Schema: -; Owner: -
--

CREATE CAST (character varying AS public.validworkmodel) WITH INOUT AS ASSIGNMENT;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: answers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.answers (
    userid uuid,
    jobacceptdate date,
    jobsearchstartdate date,
    workmodel public.validworkmodel,
    workcontract public.validworkcontract,
    jobapplicationcount integer,
    jobtitle character varying(50),
    yearsofproexperience integer,
    educationlevel public.valideducationlevel,
    CONSTRAINT answers_jobapplicationcount_check CHECK (((jobapplicationcount >= 0) AND (jobapplicationcount <= 100000))),
    CONSTRAINT answers_yearsofproexperience_check CHECK (((yearsofproexperience >= 0) AND (yearsofproexperience <= 50)))
);


ALTER TABLE public.answers OWNER TO postgres;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    id integer NOT NULL,
    key text,
    text text
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: questions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.questions_id_seq OWNER TO postgres;

--
-- Name: questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.questions_id_seq OWNED BY public.questions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    authhash text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: questions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions ALTER COLUMN id SET DEFAULT nextval('public.questions_id_seq'::regclass);


--
-- Data for Name: answers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.questions (id, key, text) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.questions_id_seq', 1, false);


--
-- Name: answers answers_userid_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_userid_key UNIQUE (userid);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: users users_authhash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_authhash_key UNIQUE (authhash);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: answers answers_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

