.footer {
    margin-top: rem(25px);
  }
  
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--mantine-spacing-md) var(--mantine-spacing-md);
  
    @media (max-width: $mantine-breakpoint-sm) {
      flex-direction: column;
    }
  }
  
  .links {
    @media (max-width: $mantine-breakpoint-sm) {
      margin-top: var(--mantine-spacing-lg);
      margin-bottom: var(--mantine-spacing-sm);
    }
  }

  .anchors {
    color: #7ae582;
    text-shadow: 1px 1px 1px black, 0px 0px 1px black;
    line-height: 1;
    font-size: rem(15px);
    font-weight: 800;
  }
